.root {
    border: 1px solid rgba(0,0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 10px; 
    display: flex; 
    
     &:hover {
      border: 1px solid rgba(29, 23, 77, 0.7);
    } 
   
    
}

.input {
    border: none;
}

.icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    margin-top: -1px;
    opacity: 0.5;
    cursor: pointer;
}

.close {
    width: 18px;
    height: 18px;
    cursor: pointer;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    } 
}